
head {
}

body {
    text-align: center;
    background-color: rgb(11, 12, 18);
    color: lightgray;
}

p {
}

h1 {
}

h2 {
}

div {
    text-align: center;
}

    div.head-text {
    }

    div.head-title {
    }

    div.text-info {
     
    }
