
head {
}

body {
    text-align: center;
}

p {
}

h1 {
}

h2 {
}

div {
    text-align: center;
}

    div #head-text {
    }

    div #head-title {
    }

    div#text-info {
        width: 50%;
    }
